<% if (secret) { %> <% if (!user) { %>
<p>
  Hello, <b><%= user?user.username:"stranger" %></b>. View your
  <a href="/profile">profile. <b>Logout</b></a> there.
</p>

<div>
  <a href="/index.html">Home</a>
  | Edit <a href="" id="url" target="_blank"></a>
</div>

<div id="html"></div>

<pre id="markdown" hidden="true">
# You need to be logged in here.
</pre>

<form action="/login" method="post">
  <div>
    <label>Username:</label>
    <input type="text" name="username" /><br />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <input type="submit" value="Submit" />
  </div>
</form>

<script
  src="https://cdn.jsdelivr.net/npm/markdown-it@10.0.0/dist/markdown-it.min.js"
  integrity="sha256-YASERpEeN8gRNr/Fy4Km34WGFqIq1h6HkJMAQnVHlhk="
  crossorigin="anonymous"
></script>
<script src="/index.js"></script>

<!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
<div class="glitchButton" style="position:fixed;top:0.3em;right:20px;"></div>
<script src="https://button.glitch.me/button.js"></script>

<% } else { %> <% if (!user) { %> Hello, you may <a href="/login">login</a>
<% } else { %> Hello,
<b><%= user.username %></b>. View your
<a href="/profile">profile. <b>Logout</b></a> there. <% } %> <%- content %> <% }
%> <% } else { %> <%- content %> <% } %>
